<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>ADD NEW STUDENT</h1>
<!--<form method="POST" action="/from">
<input type="text" name="name" placeholder="name">
<input type="number" name="age" placeholder="age">
<input type="text" name="department" placeholder="school">
<button type="submit" value="submit">submit</button>
</form>-->

<form method="POST" action="/addstudent">
<input type="text" name="f_name" placeholder="first name">
<input type="text" name="l_name" placeholder="last name">
<input type="text" name="math_grade" placeholder="math grade">
<input type="text" name="english_grade" placeholder="english grade">
<button type="submit" value="submit">submit</button>
</form>

</body>
</html>